mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
  .signin-aux{
    justify-content: center;
    vertical-align: middle;
  }
  .resqPasswordButton{
    text-align: center;
  }