<div class="signin-content">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>Por favor, inicie sesión para continuar</p>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="isFieldInvalid('email')">
                        Por favor, introduzca su email
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Por favor, introduzca su contraseña
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSubmit()">Iniciar sesión</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div class="resqPasswordButton">
    <mat-card>
        <mat-card-content>
                <button mat-raised-button color="primary">
                    Recuperar contraseña
                </button>
        </mat-card-content>
        <mat-card-content>
            <button  routerLink="/signin" mat-raised-button color="primary">
                Registrar cuenta
            </button>
        </mat-card-content>
    </mat-card>
</div>
<!--
<div class="signin-aux">
  <mat-card-content >
    <button class="resqPasswordButton" mat-raised-button color="primary">Recuperar contraseña</button>
  </mat-card-content>
  <mat-card-content>
    <button  routerLink="/signin" mat-raised-button color="primary">Iniciar sesión</button>
  </mat-card-content>
</div>
-->